/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# https://qadrlabs.com/post/rest-api-authentication-with-laravel-sanctum
# https://qadrlabs.com/post/rest-api-crud-with-laravel-sanctum